.header{display:none}
.menunavSuperior{display:none;}
.secciones{display:none;}
.downloadticket{display:none;}
#footer{display:none; border:none;}
.Siges h1{display:none;}
.salir{display:none;}
.salir{display:none;}
#copyright{display:none}
.contenidoInterno{border-bottom:none;}
#preheader{display:none;}