.jqcloud{font:10px "CHANEWEI", Helvetica, Arial, sans-serif;line-height:normal;overflow:hidden;position:relative}
.jqcloud-word{margin:0;padding:0;font-size: 14px;}

.jqcloud-word a{color:inherit;font-size:inherit;text-decoration:none}
.jqcloud-word a:hover{color:#0cf; font-size:110%}