/* CSS Document */


#mul_multimedia_previsualizar img{max-width:95%;max-height:150px;}

#mul_multimedia_multiples_previsualizar{width:150px;height:150px;}
#mul_multimedia_multiples_previsualizar img{width:150px;height:150px;}
#multimedia {position:relative}
#multimedia .play{position:absolute; top:30px; left:45px;}
#multimedia  img{ max-width:95% !important;}

.msgPreview{margin:5px; border:1px solid #999; padding:10px;}

.marcadorojo{ color:#F00; font-size:1.250em; }