.link { color:#4C0099  !important; font-weight:bold;}
.msgaccionpagina{font-size:11px; font-weight:bold; color:#666; margin-left:10px; margin-bottom:5px;}

.ui-sortable-placeholder, .ui-sortable-placeholderpublic {  border: 1px dotted black;cursor:move !important; background-color:#F5F5F5; visibility: visible !important; height: 30px; !important;cursor:pointer }
.ui-sortable-placeholder *, .ui-sortable-placeholderpublic *  { visibility: hidden; cursor:move !important;}
.ui-sortable-placeholderpublic { height: 100px !important; width:280px !important; }
.ui-sortable-tablas { height: 40px !important;}

.TxtMoveModule{height:20px !important; font-weight:bold; text-align:center; padding:10px !important; list-style:none; cursor:move}

.menucarga ul li a, .menucargader ul li a { color:#666; font:bold 75% arial,sans-serif; text-decoration:none; padding:7px 5px; position:relative; display:inline-block; background:#f3f3f3; background:-webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1)); background:-webkit-gradient(linear,left top,left bottom,from(from(#F5F5F5)),to(to(#F1F1F1))); background:-webkit-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1)); background:-moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1)); background:-o-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1)); background:linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1)); border:solid 1px #dcdcdc; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; margin-right:10px;}

.datosextrapagina .multimedia{background-color:#F5F5F5; min-height:250px; padding:10px 1%;}

#tabs .anchodescripcion textarea{height:30px; font-size:11px;}
#tabs .anchodescripcion .descripcion{ width:80%; float:left; font-size:10px;}
#tabs .anchodescripcion .linkeliminar{ width:10%; text-align:right;  float:right}
#tabs h3{ font-weight:bold; font-size:14px; padding:2px;}

.alineacion_arroba{  float:left; width:15%; font-size:12px;}
.alineacion_cuerpo{float:left; width:84%; margin-left:1%}


@media (max-width: 580px){
	 .alineacion_arroba{  float:left; width:100%; font-size:14px;}
     .alineacion_cuerpo{float:left; width:100%; }

	}

@media (min-width: 580px)  and (max-width: 979px) {
	}

@media (min-width: 768px) and (max-width: 979px) {
	}

@media (min-width: 979px) and (max-width: 1200px) {
}
@media (min-width: 1200px){
	
}