#avatarImg{ height:200px; width:200px;}
#avatarImg img{ max-height:200px; max-width:200px; min-height:100px; min-width:100px;}

.separador{ height:10px}

.eliminar_avatar{ background-image:url(../../../images/cross.png) no-repeat;}

.qq-upload-button{ height:28px !important}